@import-normalize;
html,
body {
  color: black;
  border: 0;
  padding: 0;
  margin: 0;
  max-width: 100%;
  background: linear-gradient(-45deg, #d8d8d8, #f8f9fa);
  background-size: 100% 100%;
  /*animation: gradient 20s ease infinite;*/
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: "Mulish";
  color: black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.page {
  padding-top: 5rem;
}
select:focus {
  outline: none;
}
